.title-slide .remark-slide-number {
  display: none;
}

.remark-slide-content {
  padding-top: 50px;
  padding-bottom: 100px;
}

h1, h2, h3 {
  font-weight: normal;
  color: #F48024;
}
a, a > code {
  color: #F5903D;
}
.remark-code-line-highlighted { background-color: rgba(48, 45, 116, 0.3); }

.inverse {
  background-color: #F5903D;
}
.inverse, .inverse h1, .inverse h2, .inverse h3, .inverse a, inverse a > code {
  color: #fff;
}

.remark-slide-number {
  display: none;
}

div.my-footer {
    background-color: #E96F0C;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 20px;
    width: 100%;
}
div.my-footer span {
    font-size: 10pt;
    color: #F7F8FA;
    position: absolute;
    left: 15px;
    bottom: 2px;
}
